<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Monitoramento e Controle remoto de sua estufa">
	  <meta name="keywords" content="estufa, monitoramento, controle">
    <title>GoGreen Solutions | Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
  </head>
  <body>
    <header>

      <div class="container">
        <div id="branding">
           <img src="{% static 'img/Group_5.png' %}">

        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Início</a></li>
            <li><a href="/">Sobre</a></li>
            <li><a href="/">Produtos e Serviços</a></li>
			<li><a href="/">Contatos</a></li>
			<li><a href="/cliente/">Área do cliente</a></li>
          </ul>
        </nav>
      </div>g
    </header>

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}

{% endblock %}




 <footer>
    <!--  <a href="" target="_blank"><img border="0" src="./img/facebook.png" id="logo" /></a> -->
      <a href="http://www.linkedin.com/company/gogreen-solutions" target="_blank"><img border="0" src="{% static 'img/linkedin.png' %}" id="logo" /></a>
      <a href="http://www.instagram.com" target="_blank"><img border="0" src="{% static 'img/instagram.png' %}" id="logo" /></a>
      <a href="http://www.youtube.com/channel/UCBzf6Zy82vDoM5n7ZHNah9Q" target="_blank"><img border="0" src="{% static 'img/youtube.png' %}" id="logo" /></a>
      <p>Gogreen Solutions, Copyright &copy; 2018</p>
    </footer>
  </body>
</html>