
{% extends "base.html" %}

{% block content %}

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Sobre</h1>
          <p>
            A GoGreen Solutions é uma startup voltada para o mercado agrotech que tem como objetivo automatizar e atuar sobre o controle de variáveis presentes no ambiente de estufas de cultivo, como temperatura, umidade, ventilação, entre outros. 
          </p>
          
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>Objetivo</h3>
            <p>A proposta da empresa é simplificar ao máximo o gerenciamento destes ambientes, através de um software de gerenciamento que capta as informações em tempo real e os disponibiliza no aplicativo para smartphones com iOS ou Android.</p>
          </div>
        </aside>
      </div>
    </section>
{% endblock %}
