
{% extends "base.html" %}

{% block content %}

	 <section id="main">
        <div class="container">
        <article id="main-col">
			<form class="quote">
  						<div>
  							<label>Login</label><br>
  							<input type="text" placeholder="Login">
  						</div>
  						
						<div>
  							<label>Senha</label><br>
  							<input type="text" placeholder="Senha">
  						</div>
  						<button class="button_1" type="submit">Login</button>		
			</form>
		</article>
		</div>
	 </section>

{% endblock %}
