
{% extends "base.html" %}

{% block content %}

	
	<section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Equipe</h1>
          <ul id="services">
            <li>
              <h3>Equipe de Desenvolvimento</h3>
             <p><b>WICTOR S. MARTINS</b><br> 
				Engenheiro da computação - UNIFEI - MG</p>
				<p><b>ESTEVÃO BORGES</b><br> 
				Engenheiro eletricista - FEPI</p>
				<p><b>PEDRO V. BERTONI</b><br> 
				Graduando em engenharia da computação - UNIFEI - MG</p>
            </li>
            <li>
              <h3>Equipe de Negócios</h3>
              <p><b>LUÍS FELIPE P. LEITE</b><br> 
				Cientista da Computação - USP</p>
				
            </li>
            <li>
              <h3>Equipe de Atuação</h3>
              <p><b>RENAN DE FAVERI</b><br> 
				Engenheiro eletricista - UNIFEI - MG</p>
				
            </li>
			
          </ul>
        </article>
		</div>
		</section>
	
	<aside id="sidebar">
          <div class="dark">
            <h3>Contatos</h3>
            <form class="quote">
  						<div>
  							<label>Nome</label><br>
  							<input type="text" placeholder="Nome">
  						</div>
  						<div>
  							<label>E-mail</label><br>
  							<input type="email" placeholder="Endereço de e-mail">
  						</div>
						<div>
  							<label>Assunto</label><br>
  							<input type="text" placeholder="Assunto">
  						</div>
  						<div>
  							<label>Mensagem</label><br>
  							<textarea placeholder="Mensagem"></textarea>
  						</div>
  						<button class="button_1" type="submit">Enviar</button>
					</form>
          </div>
        </aside>

{% endblock %}
