{% extends "base.html" %}

{% block content %}

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Produto</h1>
          <ul id="services">
            <li>
              <h3>Guardiano Software</h3>

              <p>O Guardiano é um software para gerenciamento de informações em tempo real, em processos agrícolas, integrando diferentes sistemas em uma arquitetura única que oferece valor e produtividade para sua propriedade. Pode ser acessado pelo software instalado em uma máquina exclusiva, website e aplicativo, o que proporciona uma acessibilidade remota de forma rápida e fácil independente de qual recurso o usuário tenha acesso.</p>

            </li>
          </ul>
        </article>

      </div>
    </section>
{% endblock %}
